@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #353836;
}

/* NAVBAR-&-HAMBURGER */

header {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.name a {
    color: #ed4245;
}

ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: #ffffff;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.contact-me__btn {
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid #ed4245;
}

.contact-me__btn a {
    color: #ed4245;
}


/* HAMBURGER ICON */

.hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* HAMBURGER-BARS-ANIMATION */

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

/* HAMBURGER-BARS-ANIMATION */

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #353836;;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    header nav {
        display: none;
    }

    .hamburger-icon {
        display: block;
    }
}

/* NAVBAR-&-HAMBURGER */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    height: 50%;
}

.logo img {
    border-radius: 50%;
    height: 170px;
    border: 3px #ed4245 solid;
}

.logo h2 {
    margin-top: 15px
}

.container {
    text-align: center;
    margin: 5px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.icons-height {
    height: 40px;
}