* {
    box-sizing: border-box;
    font-family: Roboto;
    text-decoration: none;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.container {
    border: 3.5px #0073de solid;
    background-color: #fff;
    border-radius: 25px;
    text-align: center;
    padding: 2em;
}

.logo{
    border: 3px #0073de solid;
    border-radius: 50%;
    height: 100px;
}

.btn{
    transition: background-color 0.7s;
    transition: -webkit-box-shadow, box-shadow .4s;
    background-color: #0073de;
    border: none;
    margin: 5px;
    padding: 12px 24px;
    border-radius: 6px;
}

.btn:hover {
    background-color: #1d91fd;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}