* {
    box-sizing: border-box;
    font-family: Roboto;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.container{
    background-color: white;
    border: 3.5px #0083FF solid;
    padding: 2em;
    text-align: center;
    border-radius: 25px;
}

.logo{
    border: 3px #0083FF solid;
    height: 100px;
    border-radius: 50%;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.icons-height{
    height: 30px;
}