*{
    box-sizing: border-box;
    font-family: Consolas, 'Courier New', monospace;
    color: #fff;
}

body{
    background-color: #111;
    margin: 0;
}

.header{
    display: flex;
    min-height: 100vh;
    height: 100%;
}

.header-box{
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-box-head{
    text-align: center;
}

.header-box-content{
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px ;
}

.box_btns{
    display: flex;
    justify-content: center;
}

.box_btn{
    padding: 20px 10px 0;
}

.btn{
    transition: border-color, background-color 0.7s;
    padding: 12px 24px;
    border-radius: 20px;
    background-color: #ffe8b6;
}

.btn span{
    color: #111;
}

.btn:hover{
    background-color:#d99e82;
}

@media(min-width:302px){
    .btn{
        padding: 16px 32px;
    }
}